#[include adxl.cfg] # Comment this out when you disconnect the accelerometer

[include moonraker_obico_macros.cfg]
[include fluidd.cfg]
[include KAMP_Settings.cfg]
[include Macro-custom.cfg]


[exclude_object]

[virtual_sdcard]
path: /home/user/printer_1_data/gcodes
on_error_gcode: CANCEL_PRINT

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 264.5
homing_speed: 130

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 230.60
homing_speed: 130

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_max: 250
position_min: -3

[extruder]
max_extrude_cross_section: 5
max_extrude_only_distance: 500.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 34.406
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 10
max_temp: 280

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 10
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 12000
max_z_velocity: 5
max_z_accel: 100

[respond]
default_type: command
[pause_resume] recover_velocity: 50

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -44.34
y_offset: -1.1
#z_offset: 0.780

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 18, 16.5
mesh_max: 219, 229
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
screw1: 88,41.5
screw1_name: front left screw
screw2: 257.5,41.5
screw2_name: front right screw
screw3: 257.5,217.5
screw3_name: rear right screw
screw4: 88,217.5
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

[input_shaper]
shaper_freq_x: 80.4
shaper_type_x: ei
#shaper_freq_y: ...
#shaper_type_y: ...

[firmware_retraction]
retract_length: 6.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 25
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


[safe_z_home]
speed: 3000.0
home_xy_position: 175, 138.5  # Change coordinates to the center of your print bed
z_hop: 10 # Move up 10mm
z_hop_speed: 5            # Move up 10mm z_hop_speed: 5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.350
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.840
#*# pid_ki = 1.336
#*# pid_kd = 66.412
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 75.272
#*# pid_ki = 1.662
#*# pid_kd = 852.453
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.277500, 0.170000, 0.152500, 0.135000, 0.122500
#*# 	  0.330000, 0.210000, 0.215000, 0.217500, 0.215000
#*# 	  0.285000, 0.175000, 0.200000, 0.217500, 0.217500
#*# 	  0.272500, 0.162500, 0.175000, 0.200000, 0.207500
#*# 	  0.127500, 0.012500, 0.067500, 0.105000, 0.150000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 18.0
#*# max_x = 218.99999999999997
#*# min_y = 16.5
#*# max_y = 228.97
